name: CI

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: fetch source code
        uses: actions/checkout@v2.3.4

      - name: node cache
        uses: actions/cache@v3.2.1
        env:
          cache-name: modules-node
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: install dependencies
        run: yarn install --frozen-lockfile

      - name: build
        run: |
          yarn build
          mv build extension-chrome-facet-ninja && sudo apt install zip && zip -r extension-chrome-facet-ninja.zip ./extension-chrome-facet-ninja/ && mkdir tmp-build && mv extension-chrome-facet-ninja.zip tmp-build/ && ls -d $PWD/*
        env:
          CI: false

      - name: deploy
        uses: docker://amazon/aws-cli:2.1.18
        with:
          args: s3 sync ./tmp-build s3://cdn.facet.ninja/ --delete --follow-symlinks
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "us-west-2"